@import url('https://fonts.googleapis.com/css2?family=Hanalei+Fill&display=swap');


.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition: all 0.5s ease;
}


.nav h1{
    font-family: 'Hanalei Fill', cursive;
    color: red;
    margin-left:10px;

}
.nav h2{
    color: white;
    margin-right: 10px;
}
.nav__black{
    background-color:#111;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    transition: all 0.5s ease;

}
.nav__black h1{
    font-family: 'Hanalei Fill', cursive;
    color: red;
    margin-left:10px;

}
.nav__black h2{
    color: white;
    margin-right: 10px;
}